{% extends 'user_app/user_base.html' %}

{% block user_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="people-nearby">
                    {% for object in object_list %}
                        <div class="nearby-user">
                            <div class="row">
                                <div class="col-md-4 col-sm-3">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user"
                                         class="profile-photo-lg">
                                </div>
                                <div class="col-md-8 col-sm-7">
                                    <h5><a href="{% url 'user:profile' object.pk %}"
                                           class="profile-link">{{ object.get_full_name }}</a></h5>
                                    <p>{{ object.email }}</p>
                                    <p class="text-muted">{{ object.city.name }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
